/* style.css */

/* cyan background for navigation bar */
.topnav {
    background-color: darkcyan;
    overflow: hidden;
    border: 1px;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* style for links inside navigation bar */
.topnav a {
    float: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
}

.topnav a:hover {
    background-color: cadetblue;
    color: black;
}

.topnav ul {
    display: inline-block;
    list-style-type: none;
    position: sticky;
}

.topnav li {
    display: inline;
}

.social-media i, .social-media p {
    text-align: center;
    color: black;
    font-size: 26px;
}

h1, h2, h3, h4, p {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.25;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: left;
}

h3 {
    font-size: 26px;
    text-align: left;
}

h4 {
    font-size: 22px;
    text-align: left;
}

p {
    font-size: 20px;
}

p.align {
    text-align: center;
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.resize {
    width: 300px;
    height: 300px;
}