/* style.css */

.under-construction {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

body {
    background-color: #efefef;
    padding-top: 65px;
}
/* cyan background for navigation bar */
#topnav {
    background-color: #3D6938;
    overflow: hidden;
    border: 1px;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

/* style for links inside navigation bar */
#topnav a {
    float: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
}

#topnav a:hover {
    background-color: rgb(93, 162, 85);
    color: black;
}

#topnav ul {
    display: inline-block;
    list-style-type: none;
}

#topnav li {
    display: inline;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.social-media i, .social-media p {
    text-align: center;
    color: #3D6938;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background-color: #3D6938;
    color: white;
}

h1, h2, h3, h4, p {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.25;
    margin-left: 20px;
    margin-right: 20px;
}

#section-title, #date, #position-desc, #position, #employer {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.25;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: #141414;
}

h2 {
    font-size: 30px;
    /* text-align: left; */
    color: #141414;
}

h3, #employer {
    font-size: 26px;
    text-align: left;
    color: #424242;
}

h4, #position {
    font-size: 22px;
    text-align: left;
    color: #424242;
}

p, #date, #position-desc {
    font-size: 20px;
    color: #6b6b6b;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

p.align {
    text-align: center;
}

#circle-img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


img.resize {
    width: 300px;
    height: 300px;
}

